
#loginfield {
    height: 20rem;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#loginfield button {
    margin-top: 2rem;
}
.inputfield {
    width: 13rem;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 1rem 0;
}
.inputfield input {
    border: 2px solid var(--blue);
    border-radius: 0.25rem;
    width: 13rem;
    height: 3rem;
    padding: 10px;
    color: var(--font);
    background-color: var(--bg);
    font-size: 0.9rem;
}
.inputfield label {
    font-size: 0.8rem;
    position: absolute;
    bottom: 2.5rem;
    left: 0.5rem;
    color: var(--ft);
    background-color: var(--bg);
    padding: 0 0.2rem
}
