
main {
    padding-top: 80px;
}
#output {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#list {
    width: 50%;
    min-height: 580px;
    display: flex;
    flex-direction: column;
}
#list > a {
    color: var(--font);
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.item {
    width: 100%;
    height: 48px;
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    margin: 5px 0;
    border: 0.5px solid var(--border);
    cursor: pointer;
    transition: all .15s ease-in-out;
}
.item:hover {
    transform: scale(1.05);
}

@media (max-width: 600px) {
    #list {
        width: 90%;
    }
}
