#dashboard {
    height: 25rem;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
#actions {
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center
}
